.workout-form-container {
  display: flex;
  justify-content: center;
}

.workout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 50%;
}

.workout-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}


