.workout-form-container {
  display: flex;
  justify-content: center;
}

.workout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 50%;
}

.workout-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.workout-form-item__label {
  color: black;
  padding-right: 1rem;
}

.form-item__input {
  width: 10rem;
}

.form-item__button {
  justify-content: center;
  padding: 0.5rem;
  display: flex;
}

.workout-item__button {
  justify-content: center;
  padding: 0.5rem;
  display: flex;
}
