.navbar-padding {
  height: 5rem;
}

.buy-membership-title {
  font-size: 1.7rem;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.buy-membership-form-container {
  display: flex;
  justify-content: center;
}

.membership-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 50%;
}

.mem-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.mem-item__button {
  justify-content: center;
  padding: 0.5rem;
  display: flex;
}

.form-item__label {
  color: black;
  padding-right: 1rem;
}





