.membership-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #504d49;
  align-items: center;
}

.membership-header {
  color: white;
}

.membership-plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 23rem;
}

.membership-plan {
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  text-align: center;
  border-radius: 0.5rem;
}

.membership-plan__heading {
  color: #ea8263;
  font-size: 2rem;
  font-weight: bold;
}

.membership-plan__duration {
  font-size: 1.5rem;
}

.membership-plan__desc {
  font-size: 1.3rem;
}

.membership-plan__price {
  font-weight: 400;
  font-size: 2rem;
  margin: 0 auto;
  width: 90%;
  border: 2px solid #ea8263;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.membership-benefits {
  display: flex;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 90%;
  justify-content: space-around;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2.5rem;
}

.membership-plan__add__container {
  margin: 1.5rem 0;
}

.membership-plan__add {
  background-color: #417058;
  color: white;
  padding: 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.membership-plan__add:hover {
  opacity: 0.8;
}

.membership-header__details {
  color: white;
}

.active-membership-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 2px solid #ea8263;
  border-radius: 0.5rem;
  padding: 0.6rem;
  color: white;
}

.active-membership__details {
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

.padding-bottom {
  height: 5rem;
}
